@import './base.css';

.primary {
  text-decoration: none;
  color: #000;
}

.secondary {
  text-decoration: none;
  color: #ef7c98;
  background-color: #ef7c98;
}

.accent-orange {
  text-decoration: none;
  background-color: #e74c23;
}

.accent-yellow {
  text-decoration: none;
  background-color: #ffdbb6;
}

.accent-brightyellow {
  text-decoration: none;
  background-color: #ffda33;
}

.bg-main {
  text-decoration: none;
  background-color: #edfcff;
}

.bg-sidebar {
  text-decoration: none;
  background-color: #fff;
}

.bg-awareness {
  text-decoration: none;
  background-color: #d0d0d0;
}
