@import './base.css';

.primary {
  text-decoration: none;
  color: #d58e94;
}

.secondary {
  text-decoration: none;
  color: #ef7c98;
  background-color: #ef7c98;
}

.accent-orange {
  text-decoration: none;
  background-color: #e74c23;
}

.accent-yellow {
  text-decoration: none;
  background-color: #ffdbb6;
}

.bg-main {
  text-decoration: none;
  background-color: #ffffff;
}

.bg-sidebar {
  text-decoration: none;
  background-color: #f3f2f0;
}

.bg-awareness {
  text-decoration: none;
  background-color: #d0d0d0;
}
